html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

button {
  border: 1px solid #eee;
  background: #BDC3C7;
  color: #FFF;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,0.25);
}

#bandName {
  font-size: 500%;
}

#displayMessage {
  font-size: 200%;
}

#or {
  padding: 20px;
}

#realButton, #fakeButton {
  width: 250px;
  height: 100px;
}

#realButton .buttonMain, #fakeButton .buttonMain {
  font-size: 400%;
}

#resetButton {
  position: relative;
  right: 50%;
  margin-right: -15%;
  float: right;
  clear: none;
  width: 15%;
  height: 75px;
}

#resetButton .buttonMain {
  font-size: 200%;
}

iframe {
  position: relative;
  left: 50%;
  margin-left: -300px;
  float: left;
  clear: none;
}

@media screen and (max-width: 480px) {
  #bandName {
    font-size: 400%;
  }

  #realButton, #fakeButton {
    width: 100%;
    float: left;
    margin: 10px 0 10px 0;
  }

  #resetButton, iframe {
    position: static;
    left: auto;
    right: auto;
    margin: 0;
    float: left;
    width: 100%;
  }
}
